<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Books</title>
</head>

<body>
  <h1>
  BOOKS
  </h1>
  <p>
  </p>
  <div class="block-content">
<div class="form-group"><div class="view view-block-ebook-feature view-id-block_ebook_feature view-display-id-homepage_todays_free_ebooks js-view-dom-id-dab2d5570a01b492b153bdd85012d39113162e40636da8c4be231d4a8b803b1c" data-once="ajax-pager">
<div class="view-content owl-carousel owl-theme owl-loaded owl-drag">



<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 681px;"><div class="owl-item active" style="width: 206.667px; margin-right: 20px;"><div class="views-row"><article>
<div class="deals-slider-item layout layout--onecol">
<div class="layout__region layout__region--content">
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-ef-cover clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-ef-cover field--type-entity-reference field--label-hidden field--item"> <a href="/ebook/fierce" hreflang="en"><img src="/sites/default/files/styles/220x330sc/public/webform/ebook_feature_application/9414/fierce.jpg?itok=qnqmi8y9" width="220" height="330" alt="Fierce" loading="lazy" typeof="foaf:Image" class="img-responsive">
</a>
</div>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featuretitle clearfix">
<div class="block-header">
</div>
<div class="block-content">
<span><a href="/ebook/fierce" hreflang="en">Fierce</a></span>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-af-name clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-af-name field--type-string field--label-hidden field--item">Nina Levine</div>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-ef-price clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-ef-price field--type-decimal field--label-hidden field--item">Free</div>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-ef-price-retail clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-ef-price-retail field--type-decimal field--label-hidden field--item">$4.99</div>
</div>
</section>
</div>
</div>
</article>
</div></div><div class="owl-item active" style="width: 206.667px; margin-right: 20px;"><div class="views-row"><article>
<div class="deals-slider-item layout layout--onecol">
<div class="layout__region layout__region--content">
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-ef-cover clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-ef-cover field--type-entity-reference field--label-hidden field--item"> <a href="/ebook/lady-apprentice-0" hreflang="en"><img src="/sites/default/files/styles/220x330sc/public/webform/ebook_feature_application/9427/kindle-lady-apprentice-with-brag.jpg?itok=iFd1faW0" width="220" height="330" alt="Lady Apprentice" loading="lazy" typeof="foaf:Image" class="img-responsive">
</a>
</div>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featuretitle clearfix">
<div class="block-header">
</div>
<div class="block-content">
<span><a href="/ebook/lady-apprentice-0" hreflang="en">Lady Apprentice</a></span>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-af-name clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-af-name field--type-string field--label-hidden field--item">Toni Cabell</div>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-ef-price clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-ef-price field--type-decimal field--label-hidden field--item">$0.99</div>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-ef-price-retail clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-ef-price-retail field--type-decimal field--label-hidden field--item">$2.99</div>
</div>
</section>
</div>
</div>
</article>
</div></div><div class="owl-item active" style="width: 206.667px; margin-right: 20px;"><div class="views-row"><article>
<div class="deals-slider-item layout layout--onecol">
<div class="layout__region layout__region--content">
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-ef-cover clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-ef-cover field--type-entity-reference field--label-hidden field--item"> <a href="/ebook/the-reason-of-my-death-0" hreflang="en"><img src="/sites/default/files/styles/220x330sc/public/webform/ebook_feature_application/9435/my-book-cover.jpg?itok=foazK8wz" width="220" height="330" alt="The Reason Of My Death: True Story Books Based on Real Life" loading="lazy" typeof="foaf:Image" class="img-responsive">
</a>
</div>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featuretitle clearfix">
<div class="block-header">
</div>
<div class="block-content">
<span><a href="/ebook/the-reason-of-my-death-0" hreflang="en">The Reason Of My Death</a></span>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-af-name clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-af-name field--type-string field--label-hidden field--item">Vishesh Kakar </div>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-ef-price clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-ef-price field--type-decimal field--label-hidden field--item">Free</div>
</div>
</section>
<section class="block block-layout-builder block-field-blocknodeebook-featurefield-ef-price-retail clearfix">
<div class="block-header">
</div>
<div class="block-content">
<div class="field field--name-field-ef-price-retail field--type-decimal field--label-hidden field--item"></div>
</div>
</section>
</div>
</div>
</article>
</div></div></div></div><div class="owl-nav disabled" style="top: 138.996px;"><div class="owl-prev disabled"></div><div class="owl-next disabled"></div></div><div class="wr-owl-dots"><div class="owl-dots disabled container"></div></div></div>
</div>
</div>
</div>
  <script src="script.js"></script>
</body>

</html>