<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>قائمة HTML</title>
</head>
<div>
    {% block content %}{% endblock %}
</div>
<body>
	<div>
        
    </div>
	<section>
  <h1>كتب</h1>
  
  <ul>
    <li>>كتب </li>
    <li>قصص الانبياء</li>
      <ul>
        <li> نوح عليه السلام</li>
		<li>يوسف عليه السلام</li>
        <li>شعيب</li>
        <li>موسى عليه السلام</li>
      </ul>
    </li>
    <li>العنصر الرئيسي 3</li>
    <li>العنصر الرئيسي 4
      <ul>
        <li>فرع 4</li>
        <li>فرع 5</li>
      </ul>
    </li>
  </ul>
</section>
<section>

  <li>قصص الانبياء</li>
  <ul>
    <li> نوح عليه السلام</li>
<li>يوسف عليه السلام</li>
    <li>شعيب</li>
    <li>موسى عليه السلام</li>
  </ul>
</li>
<li>العنصر الرئيسي 3</li>
<li>العنصر الرئيسي 4
  <ul>
    <li>فرع 4</li>
    <li>فرع 5</li>
  </ul>
</li>

</section>
</body>
</html>