<!DOCTYPE html>
<html>
<head>
    <title>صفحة الطباعة</title>
    <style>
        /* تغيير لون الخلفية إلى اللون الوردي */
        body {
            background-color: pink;
            text-align: center; /* وضع النص في الوسط */
        }
    </style>
</head>
<body>
    <h1>غدير الحميدي الحربي</h1>

    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>روابط:</p>
        <a href="http://127.0.0.1:8000/">صفحة 1</a> | 
        <a href="url_2">صفحة 2</a> | 
        <a href="url_3">صفحة 3</a>
    </footer>
    
</body>
</html>
